qdrant-client
python-dotenv
llama-index
llama-index-vector-stores-qdrant
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-llms-mistralai
langchain
langchain-mistralai
langchain-qdrant
langchainhub
presidio-analyzer
presidio-anonymizer
psycopg2-binary
llama-index-llms-cleanlab
